/*
* Стили компонента Buton (Load more)
*/
.Button {
    display: block;
        margin: 0 auto;
    
        min-width: 220px;
        height: 44px;
        padding: 0 80px;
    
        border: none;
        border-radius: 30px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
        background-image: linear-gradient(to bottom right, #FFA354, #E82B45);
        background-color: #FFA354;
        transition: background-color 1000ms,
            background-image 2000ms;
    
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    
        cursor: pointer;
}

.Button:hover,
.Button:focus {
background-image: unset;
    background-color: #E82B45;
}